main#projects {
  section.composition {
    margin-bottom: 120px;
    a {
      color: #2276d6;
      @include lineHover(#2276d6);
    }
    span.triangle {
      color: #2276d6;
      margin-left: 2px;
    }
  }
}